:root {
  --desire-pink: #f0c4d0;
  --off-black: #303030;
  --emptiness: #fcfcfc;
  --rosa: #f985a4;
  --chafed-white: #f6dfcf;
  --transparent-black: #0000;
  --orochimirau: #d9d9d9;
}

body {
  margin: 0;
  font-family: Gabarito, sans-serif;
}

#root {
  margin: 0;
}
