:root {
    --header-height: 196px;
    --header-background-color: #303030;
}

header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: height 300ms ease-in-out;
}
header.header-open {
    height: var(--header-height);
}

/* Header Image */
.header-image {
    --height: 120px;
    height: var(--height);
    padding: calc((var(--header-height) - var(--height)) / 2) 0;
}
#header-logo-full { display: block }
#header-logo-mini { display: none }

/* Header Content */
.header-content {
    display: flex;
    width: calc(100% - 3rem);
    justify-content: space-between;
    height: var(--header-height);
}

/* Header Nav */
.header-nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    height: 100%;
}
.header-nav ul li {
    margin-top: 45px;
    padding: 0 30px;
    text-align: center;
    height: 100px;
    position: relative;
}
.header-nav ul li a {
    display: inline-block;
    width: 100%;
    margin-top: 19px;
    color: #FCFCFC;
    text-decoration: none;
    font-family: "Gabarito";
    font-size: 2rem;
}
.header-nav ul li a.header-nav-highlight, .header-hamburger-nav-content ul li a.header-nav-highlight {
    color: #F985A4;
    font-weight: 700;
}

/* Header Nav Highlight Bottom */
.header-nav-highlight-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F0C4D0;
    width: 100%;
    height: 11px;
    border-radius: 4px;
}

/* Header Nav Highlight Overlay */
.header-nav-highlight-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000, #F6DFCF);
    opacity: 20%;
}

/* Hamburger */
.menu-btn {
    width: 60px;
    height: 40px;
    position: relative;
    border: 0;
    background: transparent;
    cursor: pointer;
    align-self: center;
    display: none;
}
.menu-btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #F0C4D0;
    border-radius: 999px;
    transition: 300ms ease;
}

/* Hambuerger original positioning */
.menu-btn span:nth-child(1) { top: 0; }
.menu-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.menu-btn span:nth-child(3) { bottom: 0; }

/* Hamburger open positioning */
.menu-btn.open span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.menu-btn.open span:nth-child(2) {
    opacity: 0;
}
.menu-btn.open span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

/* Header Hamburger Nav Content */
.header-hamburger-nav-content {
    border-top: 3px solid #F0C4D0;
    width: 100%;
    background-color: var(--header-background-color);
}

/* UL */
.header-hamburger-nav-content ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-family: "Gabarito";
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.header-hamburger-nav-content ul li {
    padding: 0.75rem 0 0.75rem 1.5rem;
}
.header-hamburger-nav-content ul li a {
    color: #FCFCFC;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    line-height: 40px;
}

/* All media queries */
@media only screen and (max-width: 1600px) {
    .header-nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    header.header-open {
        height: 519px;
    }
}

@media only screen and (max-width: 600px) {
    #header-logo-full { display: none }
    #header-logo-mini { display: block }
}